@import url(http://fonts.googleapis.com/css?family=Anton);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
html, body { 
	height: 100%;
	margin: 0;
	padding:0;
}

body {
	background-image: url('../img/background.png');
	font-family: Calibri, sans-serif;
	line-height: 1.5;
}

.main {
	margin: 0 auto;
	width: 1300px;
	background-color: #E6E6E6;
	padding: 0;
	position: relative;
}

.title {
	margin:0px auto; 
	width: 1300px;
	background-color: #BA1919;
	box-shadow: inset 0px 0px 10px #161616;
}

.phone-number {
	font-size: 22px;
	color: white;
	margin: 0;
	padding: 0;
	display: inline;
	float: right;
	margin: 50px 15px 0 0;
}

.title-text {
	font-family: 'Chaparral Pro Light', sans-serif;
	color: white;
	font-size: 40px;
	margin: 0 0 0 200px;
	padding: 0;
	display: inline;
	text-shadow: 0px 0px 10px #000000;
}	

.title-and-number {
	width: 1300px;
	text-align: center;
}

.fat {
	font-family: 'Anton', sans-serif;
}

.fit {
	font-family: 'Dancing Script', cursive;
}

.fit, .fat {
	font-size: 60px;
}

#nav  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav a {
	text-decoration: none;
	color:#BA1919;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 30px;
	display: inline-block;
	margin: 0;
}

#nav ul li {
	display: inline-block;
	border-right: 2px solid #E6E6E6;
	margin-left: -5px;
	border-left: none;
}

#nav {
	background-color: white;
	text-align: center;
}

#nav ul li:first-child {
	border-left: 2px solid #E6E6E6;
}

#nav .active {
	color: white;
	background-color: #BA1919;
}

#nav a:hover {
	background-color: #FF4D4D;
	color: white;
	transition-property: background;
	transition-duration: .6s;
}

#nav .active:hover {
	color: white;
	background-color: #BA1919;
}

.topimg {
	width:24.7%;
	position: relative;
	top: 10px;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}

.topimg img {
	margin: 0;
	padding: 0;
}

.img-slider {
	width: 100%;
	text-align: center;
}

.img-and-text {
	margin-top: 40px;
}

.intro {
	text-align: center;
	color: #BA1919;
	font-weight: bold;
}

.footer {
	text-align:center;
	position: relative;
	width: 100%;
	background-color: #2E2E2E;
	clear: both;
}

.footer-text {
	color:white;
	padding: 15px;
}

.text-container {
	float: right;
	width: 590px;
	margin-right: 40px;
	margin-top: 40px;
}

.content-text {
	font-size: 20px;
	color: #2D2D2D;
	font-weight: normal;
}

.img-container {
	width:610px;
	margin-top: 40px;
	margin-left: 40px;
	float: left;
	text-align: center;
	font-style: italic;
}

.img-container img {
	box-shadow: 0px 0px 15px #161616;
}


.img-info {
	font-size: 20px;
	color: #2D2D2D;
	font-weight: normal;
}

img {
	width:100%;
}

ul {
	list-style-type: square;
}

.title1 {
	margin-top: 0px;
	text-align: center;
}

.hr1 {
	width: 1280px;
}

.cardio {
	width: 35%;
	float: left;
	margin: 50px 0px 0px 150px; 
}

.cardio ul li {
	list-style-position: inside;
}

.cardio-imgs {
	width: 30%;
	float: right;
	margin-right: 150px;
	margin-top: 5px;
}

.cardio-imgs img {
	display: inline-block;
	width: 48%;
	margin: 0px 2px;
	padding: 0;
	box-shadow: 0px 0px 5px #161616;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}